*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  font-size: 62.5%;
}
html,
input{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
}
#root{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  font-size: 1.4rem;
}
.header{
  width: 100%;
  padding: 20px;
}
.header__nav{
  width: 90%;
}
.header__nav-ul{
  width: 100%;
  display: flex;
  gap: 20px;
  list-style: none;
  flex-direction: row-reverse;
}
.header__nav-ul-li-link{
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.header__nav-ul-li-link:hover{
  cursor: pointer;
  font-size: 1.5rem;
}
.form{
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}
.form label{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form label input{
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}
.form__submit{
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  max-width: 330px;
}
.success{
  padding: 20px;
  background-color: rgba(0, 231, 0, 0.326);
  margin-top: 20px;
  border-radius: 40px;
  transition: all 100ms;
  transition: all 2ms;
  animation: up 2s 0s linear ;
}
.error{
  padding: 20px;
  background-color: rgba(231, 0, 12, 0.326);
  margin-top: 20px;
  border-radius: 40px;
  transition: all 2ms;
  animation: up 2s 0s linear ;
}

@keyframes up {
  from{
    transform: translateY(30%);
  }to{
    transform: translateY(0%);
  }
}